{% extends 'base.html' %}
{% load static %}

{% block title %}
  Restaurants
{% endblock %}

{% block slider %}

{% for promo in promo %}

<div class="cart-promo" data-url= "{{promo.image.url}}">
  <!-- <img class="img_" src="{{promo.image.url}}" alt="image"/> -->
</div>


{% endfor %}

{% endblock %}


{% block content %}



<h2 class="restourants">Рестораны</h2>

{% for category in category %}

  <a href="{% url 'category_detail_url' slug=category.slug %}">
    <div class="">
        <img class="image_res" src="{{ category.image.url }}" alt="image"/>
    </div>

    <div class="">
      {{category.name}}
    </div>

  </a>


{% endfor %}

<div class="res-type">

  <div class="food-cart">
    <img src="{% static 'img/food-icons/burger.svg' %}" alt="Burger-icon" width="50px" class="food-icon">
  </div>
  <div class="food-cart">
    <img src="{% static 'img/food-icons/sushi.svg' %}" alt="Burger-icon" width="50px" class="food-icon">
  </div>
  <div class="food-cart">
    <img src="{% static 'img/food-icons/pizza.svg' %}" alt="Burger-icon" width="50px" class="food-icon">
  </div>
  <div class="food-cart">
    <img src="{% static 'img/food-icons/soup.svg' %}" alt="Burger-icon" width="50px" class="food-icon">
  </div>
  <div class="food-cart">
    <img src="{% static 'img/food-icons/fish.svg' %}" alt="Burger-icon" width="50px" class="food-icon">
  </div>
  <div class="food-cart">
    <img src="{% static 'img/food-icons/cebab.svg' %}" alt="Burger-icon" width="50px" class="food-icon">
  </div>
  <div class="food-cart">
    <img src="{% static 'img/food-icons/grilled.svg' %}" alt="Burger-icon" width="50px" class="food-icon">
  </div>
</div>

<div class="cart-field">
  {% for restaurant in restaurant %}

    <div class="cart">
      <div class="cart-icon">
      <a style="text-decoration: none;" href="{% url 'restaurant_detail_url' slug=restaurant.slug %}">
      <img class="image_res" src="{{ restaurant.image.url }}" alt="image"/>
      </a>
      </div>


      <div class="cart-text">
        <div class="main-info">
          <a href="{% url 'restaurant_detail_url' slug=restaurant.slug %}">
            <div class="res_name">
              {{restaurant.name}}
            </div>
            </a>
            <!-- <div class="res-description">
                {{restaurant.description}}
            </div> -->

            <div class="res-phone">
              {{restaurant.phone}}
            </div>
        </div>

        <div class="res-info">

            <div class="res-address">
              {{restaurant.address}}
            </div>

            <div class="res-time__work">
              {{restaurant.opening_time}}
            </div>

            <div class="res-time__delivery">
              {{restaurant.average_delivery}}
            </div>
        </div>

      </div>
    </div>

  {% endfor %}
</div>

{% endblock %}
