{% extends 'base.html' %}


{% block title %}
  Restaurants
{% endblock %}


{% block content %}

  {% for restaurant in restaurant %}

    <div class="">
      <a style="text-decoration: none;" href="#">
      <img class="image_res" src="{{restaurant.image.url}}" alt="image"/>
      </a>

      <div class="res_name">
        {{restaurant.name}}
      </div>

      {{restaurant.description}}
      {{restaurant.phone}}
      {{restaurant.address}}
      {{restaurant.opening_time}}
      {{restaurant.average_delivery}}
    </div>

  {% endfor %}

{% endblock %}
