{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}
Registration
{% endblock %}


{% block content %}

<div class="login-section">
	<form method="POST" class="login-form">
		{% csrf_token %}
			<div class="">
				{{ form|crispy }}
			</div>
		<div class="login__btn">
			<button class="" btn btn-outline-info type="submit">Войти</button>
		</div>
		<div class="login__link">
			<a class="" href="{% url 'signup_url' %}">Регистрация</a>
		</div>
		<div class="">
			<a href="{% url 'reset_password_url' %}">Forgot Password</a>
		</div>
	</form>
</div>

{% endblock %}
