{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}
Registration
{% endblock %}


{% block content %}

<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="">
			<legend class=""><h3>Log In</h3></legend>
			<div class="">
				{{ form|crispy }}
			</div>
		</fields>
		<div class="">
			<button class="" btn btn-outline-info type="submit">Login</button>
		</div>
	</form>
		<div class="">
			Need an account? <a class="" href="{% url 'signup_url' %}">Sign Up</a>
		</div>
</div>

{% endblock %}
