{% extends 'base.html' %}
{% load static %}


{% block title %}
  Profile
{% endblock %}



{% block content %}
<div class="profile" data-wallpaper = '{{user.profile.back_image.url}}'>

  <div class="profile__head">

    <div class="profile__img">
      <img class="profile_img" src="{{user.profile.image.url}}" alt="">
    </div>

    <div class="profile__main">
      <div>Имя: {{ user.username }}</div>
      <div>Почта: {{ user.email }}</div>

    </div>

  </div>

  <div class="btn-change"><button>Изменить</button></div>

  <div class="profile__info">
    <form class="" action="{% url 'profile_url' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{u_form}}
      <div class="image-input"> {{p_form.image}} </div>
      <div class="back__image-input"> {{p_form.back_image}}</div>
      <button type="submit" name="button">Update</button>
    </form>
  </div>

  <div class="exit-btn">
    <img src="{% static 'img/sign-in.png' %}" alt="Sign-in icon" class="login-icon" width="15px">
    <a class="log-out fadeIn" href="{% url 'logout_url' %}"> Выйти</a>
  </div>
</div>
{% endblock %}
