{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}
	Sign Up
{% endblock %}


{% block content %}

<div class="content-section">
	<form method="POST" class="reg-form">
			<div class="">
				{% csrf_token %}
				{{ form|crispy }}
			</div>
		<div class="sign-up__btn">
			<button btn btn-outline-info type="submit">Регистрация</button>
		</div>

		<div class="sign-in__btn">
			Имеется аккаунт? <a class="" href="{% url 'login_url' %}">Вход</a>
		</div>
	</form>

	<div class="reg-icon">
	</div>
</div>

{% endblock %}
