.test-class {
    border: 2px dashed black;
    padding: 10px 5px;
    width: max-content;
    background-color: black;

}
.image_res{
  width: 200px;
  height: 200px;
}
.res_name{
  border: 1px solid red;
}
