body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  li {
    list-style: none;
  }

  .header {
      width: 100%;
      display: flex;
      border-bottom: 1px solid black;
      padding: 10px;
  }

  .logo {
      display: flex;
      width: 15%;
      border-right: 1px solid black;
  }

  .header input {
      border: none;
      width: 100%;
      font-size: 10px;
  }

  .search {
      width: 60%;
  }
  

  .logo-text {
      font-size: 30px;
      line-height: 30px;
      margin-left: 8px;
      margin-top: 8px;
      font-family: 'PT Sans Narrow', sans-serif;
  }

  .logo-text a {
      font-weight: 500;
      font-family: 'PT Sans Narrow', sans-serif;
  }

  .log-out {
      display: block;
      margin-top: 100px;
  }

  .logo-icon {
      width: 65px;
  }

  .input-field {
      border-radius: 30px;
      width: 70%;
      margin: 10px auto;
      border: 1px solid black;
      padding: 20px;
      font-family: 'Roboto', sans-serif;
  }

.cart-field {
    margin-top: 150px;
    display: flex;
}

.res-description {
    display: none;
}

