{% extends 'base.html' %}


{% block title %}
  Restaurant detail
{% endblock %}


{% block content %}

<h3 class="res-header">Меню </h3>

<div class="res-foods">
  {% for restaurant in restaurant.food.all %}
  <div class="res-food__cart">
    <div class="res-food__icon">
        <a style="text-decoration: none;" href="#">
          <img class="img_" src="{{restaurant.image.url}}" alt="image"/>
          </a>
    </div>

    <div class="food-main">
          <div class="food-name">
      {{restaurant.name}}
    </div>
    <div class="food-price">
      {{restaurant.price}}
    </div>
    </div>
  
    <div class="food-info">
      {{restaurant.description}}
    </div>
  
    <button type="submit" name="button" class="add-basket">
        <a href="{% url 'update_cart_url' slug=restaurant.slug %}">
          +
        </a>
    </button>
  
  </div>
  {% endfor %}
</div>


{% endblock %}
