{% extends 'base.html' %}


{% block title %}
  Restaurant detail
{% endblock %}


{% block content %}

<h1>Foods</h1>

  {% for restaurant in restaurant.food.all %}
  <div class="">
    <a style="text-decoration: none;" href="#">
    <img class="img_" src="{{restaurant.image.url}}" alt="image"/>
    </a>
  </div>

  <div class="">
    {{restaurant.name}}
  </div>

  <div class="">
    {{restaurant.price}}
  </div>

  <div class="">
    {{restaurant.description}}
  </div>

  <button class="" type="submit" name="button">
      <a class="" style="text-decoration:none; color: black" href="{% url 'update_cart_url' slug=restaurant.slug %}">
        Add to Cart
      </a>
  </button>

  {% endfor %}


{% endblock %}
