{% load static %}
<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick-1.8.1/slick/slick.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick-1.8.1/slick/slick-theme.css' %}"/>
  <title>Главная</title>
  <link rel="shortcut icon" href="https://www.forestapp.cc/img/icon.png">
  <!-- #bootstrap css for paginations -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
</head>

<title>
  {% block title %}

  {% endblock %}
</title>

<body>
  <div class="main-wrapper">
    <div>
    <header class="header">
      <div class="logo">
        <a href="{% url 'restaurant_list_url' %}">Miri</a>
      </div>
        <div class="header-nav">

          <div class="">
            <a href="{% url 'index' %}">Write to admin</a>
          </div>
          <div class="header-login-button">
            {% if user.is_authenticated %}
              <div class="user-profile">
                <a href="{% url 'profile_url' %}">Профиль</a>
              </div>

            {% else %}
              <img src="{% static 'img/sign-in.png' %}" alt="Sign-in icon" class="login-icon" width="15px">
              <a class="log-in" href="{% url 'login_url' %}"> Войти</a>
            {% endif %}
          </div>

        <div class="basket-button">
          <img src="{% static 'img/basket.png' %}" alt="basket" width="15px" class="basket-icon">
          <a href="{% url 'cart_url' %}">
            Корзина
          {% if not request.session.items_total %}
            <p class="count-food">0</p>
          {% else %} {{request.session.items_total}}
          {% endif %}
          </a>
        </div>
        </div>
    </header>

    <div class="slider-content">
      <div class="slider-promo slider">
        {% block slider %}

        {% endblock %}
      </div>
    </div>


    <div class="">
      {% block search %}

      {% endblock %}
    </div>




  {% block content %}




  {% endblock %}


{% if is_paginated %}

  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item {% if not prev_url %} disabled {% endif %}">
        <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>

      {% for n in page_object.paginator.page_range %}

        {% if page_object.number == n %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
          </li>
        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

          <li class="page-item">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
          </li>

        {% endif%}
      {% endfor %}

      <li class="page-item {% if not next_url %} disabled {% endif %}">
        <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">Next</a>
      </li>
    </ul>
  </nav>

{% endif %}



  <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d92983.42626009707!2d76.82457600000001!3d43.2570368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgoogle%20cart!5e0!3m2!1sen!2skz!4v1591096857724!5m2!1sen!2skz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  <section class="user-section">
    <div class="user-count">
      <h2>Количество пользователей: <strong class="timer">459032</strong></h2>
      <h2>Курьеры в Алматы: <strong class="timer">1478</strong></h2>
    </div>


    <img src="{% static 'img/location.svg' %}" alt="location" class="location-icon">
  </section>

    <footer class="footer">
    <div class="footer-content">
      <ul>
        <li>Тех поддержка: </li>
        <li>+7(776)-288-49-55 <strong>Мадияр (Лицевая)</strong></li>
        <li>+7(747)-767-47-47 <strong>Азат (Серверная)</strong></li>
      </ul>
    </div>
  </footer>


</div>
</div>



  <script src="{% static 'vendor/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'vendor/ajax.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
  <script src="{% static 'vendor/slick-1.8.1/slick/slick.min.js' %}" ></script>
  <script src="{% static 'js/slider.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/counter.js' %}"></script>

    <!-- <script>
    if('geolocation' in navigator) {
      navigator.geolocation.getCurrentPosition(position => {
            $.get( "http://maps.googleapis.com/maps/api/geocode/json?latlng="+ position.coords.latitude + "," + position.coords.longitude +"&sensor=false", function(data) {
                    console.log(data);
                  });
        })
      }
    else {
      console.log('geolocation not aviable');
    }
  </script> -->

</body>
</html>
