{% load static %}
<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick-1.8.1/slick/slick.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick-1.8.1/slick/slick-theme.css' %}"/>
  <title>Главная</title>
  <link rel="shortcut icon" href="https://www.forestapp.cc/img/icon.png">
</head>

<title>
  {% block title %}

  {% endblock %}
</title>

<body>
  <div class="main-wrapper">
    <header class="header">
      <div class="logo">
        <a href="{% url 'restaurant_list_url' %}">Miri</a>
      </div>
        <div class="header-nav">
          <div class="header-login-button">
            {% if user.is_authenticated %}
              <div class="user-profile">
                <a href="{% url 'profile_url' %}">Profile</a>
              </div>

            {% else %}
              <img src="{% static 'img/sign-in.png' %}" alt="Sign-in icon" class="login-icon" width="15px">
              <a class="log-in" href="{% url 'login_url' %}"> Войти</a>
            {% endif %}
          </div>

        <div class="basket-button">
          <img src="{% static 'img/basket.png' %}" alt="basket" width="15px" class="basket-icon">
          <a href="{% url 'cart_url' %}">
            Корзина
          {% if not request.session.items_total %}
            <p class="count-food">0</p>
          {% else %} {{request.session.items_total}}
          {% endif %}
          </a>
        </div>
        </div>
    </header>

    <div class="slider-content">
      <div class="slider-promo slider">
        {% block slider %}

        {% endblock %}
      </div>
    </div>




    <div class="">
      {% block search %}

      {% endblock %}
    </div>
  </div>

  {% block content %}

  {% endblock %}

  <script src="{% static 'vendor/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'vendor/ajax.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
  <script src="{% static 'vendor/slick-1.8.1/slick/slick.min.js' %}" ></script>
  <script src="{% static 'js/slider.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

    <!-- <script>
    if('geolocation' in navigator) {
      navigator.geolocation.getCurrentPosition(position => {
            $.get( "http://maps.googleapis.com/maps/api/geocode/json?latlng="+ position.coords.latitude + "," + position.coords.longitude +"&sensor=false", function(data) {
                    console.log(data);
                  });
        })
      }
    else {
      console.log('geolocation not aviable');
    }
  </script> -->

</body>
</html>
