{% extends 'base.html' %}


{% block title %}
  Cart
{% endblock %}



{% block content %}

  {% if empty %}
    <h2 style="text-align:center;" class="empty-cart__text" >Ваша корзина пуста</h2>

    <div class="basket-field">
  {% else %}
      <h2 class="basket-title">Корзина</h2>
      <div class="total-sum">
        Общая сумма: {{cart.total}}
      </div>
      <div class="basket-carts">
        {% for item in cart.cartitem_set.all %}
        <div class="basket-item">
            <div class="basket-product__name">
              {{item.product}}
            </div>
          <div class="basket-product__quantity">
            Количество:{{item.quantity}}
          </div>
          <div class="basket-product__price">
            {{itme.price}}
          </div>
            <a href="{% url 'remove_cart_url' item.id %}" class="remove-product">X</a>
        </div>
        {% endfor %}
      </div>

      <div class = "checkout-btn"> 
        <a href="https://robokassa.kz/">Оплатить</a>
      </div>

    {% endif %}
  </div>

{% endblock %}
